@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}

body {
  align-items: center;
  width: 1920px;
}

video {
  position: fixed;
  height: 465px;
  width: 1920px;
  object-fit: cover;
}
 
.turbine {
  position: fixed;
  object-fit: cover;
  height: 100vh;
}

.logo {
  position: fixed;
  margin: 20px;
}

.logo img {
  width: 20%;
  height: 20%;
}

.leftEmpty {
  height: auto;
  width: 20%;
  float: left;
}

.text {
  font-size: 32px;
  text-align: justify;
  width: 75%;
  float: right;
}

/*
  /""""""""""""""""""""""""""""""""""""""\ 
 |                  menu                  |
  \,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,/ 
*/

.menu {
  position: fixed;
  /* width: 70vw; */
  top: 120px;
  right: 0;
  z-index: 2;
}

ul {
  align-content: center;
  display: inline-flex;
  right: 0;
}

nav.menu a {
  text-decoration: none;
  color: white;
  height: 100%;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}

.menu-content {
  text-decoration: none;
  font-size: 1em;
  list-style: none;
  background-color: rgba(42, 73, 153, 0.56);
  text-align: center;
  align-items: center;
  padding: 1vh 3vw 1vh 3vw;
}

ol li {
  text-decoration: none;
  font-size: 1em;
  list-style: none;
  text-align: center;
  align-items: center;
}

a:link {
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

.hide ol {
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  display: none;
  position: absolute;
  list-style-type: none;
  top: calc(2vh + 1em + 0.4vh);
  background-color: rgba(42, 73, 153, 0.56);
  margin: 0 -3vw 0 -3vw;
}

.hide ol li {
  padding: 1vh 0 1vh 0;
  justify-content: center;
  align-items: center;
}
.hide:hover ol {
  display: block;
}
