@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body .main_video {
  position: fixed;
  z-index: 0;
  width: 100vw;
  object-fit: cover;
}
body .turbine {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  object-fit: cover;
}
body .menu {
  width: 100%;
  height: 2vh;
  display: flex;
}
body .menu ul {
  object-position: top right;
}
body .menu .logo {
  z-index: 2;
  object-position: top left;
  flex-shrink: 0;
  width: 10vw;
  min-height: 100%;
}
