/* .content {
  position: absolute;
  top: 60vh;
  margin-left: 25vw;
  height: min-content;
  width: 75vw;
} */

/* .content .text {
  font-family: "montserrat";
  font-weight: normal;
  font-size: 1.5vh;
  line-height: 2vh;
} */

/* galeria */

.content .gallery {
  position: absolute;
}

.gallery {
  position: absolute;
  top: 30vw;
  width: 10vw;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 10vh;
  z-index: 0;
}

.photo-1 img {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-block;
}
.photo-2 img{
  grid-area: 2 / 1 / 3 / 2;
  display: inline-block;
}
.photo-3 img{
  grid-area: 3 / 1 / 4 / 2;
  display: inline-block;
}
.photo-4 img{
  grid-area: 4 / 1 / 5 / 2;
  display: inline-block;
}
.photo-5 img{
  grid-area: 5 / 1 / 6 / 2;
  display: inline-block;
}
.photo-6 img{
  grid-area: 6 / 1 / 7 / 2;
  display: inline-block;
}
.photo-7 img{
  grid-area: 7 / 1 / 8 / 2;
  display: inline-block;
}

.gallery img {
  /* display: inline-block; */
  /* box-shadow: 1vw 1vw 0 #a6b6a9; */
}

.timeline {
  position: absolute;
  padding-top: 10%;
  display: grid;
  grid-template-columns: 10vw 2vw 57vw;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10vh;
  /* grid-row-gap: 0.9vh; */
}

.timeline h2 {
  position: absolute;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 2vh;
  text-align: center;
  font-weight: 500;
}

.middle-left {
  justify-content: center;
  align-self: center;
}

.top-left {
  justify-content: center;
  align-self: center;
}

.bottom-left {
  justify-content: center;
  align-self: center;
}

.top-left {
  grid-area: 1 / 1 / 2 / 2;
}
.middle-left {
  grid-area: 2 / 1 / 3 / 2;
}
.bottom-left {
  grid-area: 3 / 1 / 4 / 2;
}
.middle {
  grid-area: 1 / 2 / 4 / 3;
}
.top-right {
  grid-area: 1 / 3 / 2 / 4;
}
.middle-right {
  grid-area: 2 / 3 / 3 / 4;
}
.bottom-right {
  grid-area: 3 / 3 / 4 / 4;
}

.middle {
  position: absolute;
  justify-content: center;
  height: 35vw;
  width: 100%;
}

.middle img {
  display: block;
  /* top: 22.3%; */
  position: absolute;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  /* height: 46.5vw; */
  height: 100%;
  width: 100%;
}

.top-right {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.middle-right {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  height: auto;
  align-items: center;
}

.bottom-right {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.timeline-img {
  grid-area: 1 / 1 / 2 / 2;
  display: block;
}

.timeline-img {
  color: red;
  background-color: red;
}

.timeline-text {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  text-align: center;
  text-align: justify;
  padding-left: 2vw;
}
