

.content {
  position: absolute;
  top: 45vh;
  width: 60vw;
  margin-left: 25vw;
  z-index: 2;
}

.content .Box.info {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 1.5vh;
  line-height: 2vh;
  height: 100%;
  align-self: center;
  background-color: rgba(97, 159, 221, 0.56);
  
}

.addressText {
  font-size: 1vh;
}

.contactBox {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 4vh 4vh 4vh 4vh 10vh ;
  
  grid-column-gap: 2vw;
  grid-row-gap: 0.5vw;
}

#contact h2 {
  font-size: 1.5vh;
  font-weight: normal;
}

::placeholder {
  font-size: 1.5vh;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
}

input {
  padding: 1vh;
  font-size: 1.5vh;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: bold;
  border: none;
  color: #ffffff;
  /* color: #666666; */
}

textarea {
  padding: 2vh;
  font-size: 1.5vh;
  resize: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border: none;
  color: #ffffff;
}

textarea:focus, input:focus{
  outline: none;
}

.Box {
  border-radius: 0.7vh;
  box-shadow: inset 0 0.5vh 0.5vw 0 rgba(66, 66, 66, 0.5);
  background-color: rgba(97, 159, 221, 0.56);
}

.info {
  grid-area: 1 / 1 / 6 / 2;
}

.name {
  grid-area: 1 / 2 / 2 / 3;
}

.surname {
  grid-area: 2 / 2 / 3 / 3;
}

.email {
  grid-area: 3 / 2 / 4 / 3;
}

.subject {
  grid-area: 4 / 2 / 5 / 3;
}

.topic {
  grid-area: 5 / 2 / 6 / 3;
}

input .Box.topic{
  font-size: 1.5vh;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border: none;
  color: #ffffff;
}

.Box.info {
  text-align: center;
  background-color: white;
}

.Box.info .infoText {
  padding-top: 1vh;
  font-size: 1vh;
  padding-bottom: 1vh;
}

.fas.fa-map-marked {
  color: #ED002D;
}

.mapPNG {
  position: relative;
  width: 100%;
  border-radius: 0 0 1.125vh 1.125vh;
  top: 0.405vh;
}

/* send button */

.sendBtn {
  position: relative;
  /* right: -22vw; */
  width: 10vw;
  background-color: #EAC76E;
  border-radius: 1.35vh;
}

.sendBtn:hover {
  animation: sendbtn-animation 0.5s;
  animation-fill-mode: forwards;
}

.sendBtn:not(hover) {
  animation: sendbtn-animation-back 0.5s;
}

@keyframes sendbtn-animation {
  from {
    background-color: #eac76e;
  } to {
    background-color: #ed002d;
    color: #eac76e;
  }
}

@keyframes sendbtn-animation-back {
  from {
    background-color: #ed002d;
  } to {
    background-color: #eac76e;
  }
}

.floatinfo  {
  position: absolute;
}
